absl-py==0.7.0
appnope==0.1.0
arrow==0.13.1
astor==0.7.1
astroid==2.0.4
atomicwrites==1.2.1
attrs==19.1.0
autopep8==1.4.3
backcall==0.1.0
bcolz==1.2.1
binaryornot==0.4.4
bleach==3.1.0
boto==2.49.0
boto3==1.9.169
botocore==1.12.169
certifi==2019.3.9
chardet==3.0.4
click==6.7
click-log==0.3.2
click-threading==0.4.4
configobj==5.0.6
cookiecutter==1.6.0
cycler==0.10.0
Cython==0.28.5
decorator==4.3.2
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
future==0.17.1
gast==0.2.2
gensim==3.7.3
google-pasta==0.1.4
grpcio==1.18.0
h5py==2.8.0
icalendar==4.0.3
idna==2.7
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jedi==0.13.3
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterthemes==0.20.0
Keras==2.2.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lesscpy==0.13.0
livereload==2.5.2
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.3
mccabe==0.6.1
Mesa==0.8.5
mistune==0.8.4
mkdocs==1.0.3
mock==2.0.0
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
notebook==5.7.6
numpy==1.15.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.4
patsy==0.5.1
pbr==5.1.2
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
ply==3.11
poyo==0.4.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
pycodestyle==2.5.0
pydot==1.2.4
Pygments==2.3.1
pylint==2.1.1
pyparsing==2.2.0
pyrsistent==0.14.11
python-dateutil==2.7.3
pytz==2018.5
pyxdg==0.26
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.20.0
requests-toolbelt==0.8.0
s3transfer==0.2.1
scikit-learn==0.20.3
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.11.0
sklearn==0.0
smart-open==1.8.4
statsmodels==0.9.0
tb-nightly==1.14.0a20190301
tensorboard==1.12.2
tensorboardX==1.7
tensorflow==2.0.0a0
tensorflow-estimator==1.13.0rc0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019030115
torch==1.1.0
torchvision==0.2.2.post3
tornado==4.5.3
tqdm==4.31.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24
urwid==2.0.1
vdirsyncer==0.16.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.2.0
